.contenedor {
    background: var(--colorPrincipal);
    overflow: hidden;
    padding-bottom: 2rem;
    display: block;
    height: 40rem;
    position: relative;
    width: 100%;
    float: center;
  }
  
  .bloque img {
    display: block;
    margin: 2rem auto 0 auto;
    width: 45%;
  }
  
  .bloque h2 {
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
  }
  
  .bloque p {
    padding: 0 3rem;
    font-size: 0.8rem;
    text-align: justify;
  }
  
  @media (min-width: 1281px) {
    .contenedor {
      height: 200rem;
    }
    .bloque h2 {
      font-size: 3rem;
    }
  
    .bloque p {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 1280px) {
    .contenedor {
      height: 80rem;
    }
  
    .bloque img {
      width: 80%;
    }
  
    .bloque p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 560px) {
    .bloque h2 {
      font-size: 1.5rem;
    }
    div {
      transform: rotate(5deg);
      transform: scale(2,2); /* Esta línea sobreescribe a la anterior */
     }
     
  }