/* imports */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* paleta personalizada */
:root {
  --main-medium: #7fdff7;
  --main-fuente2: #df4040;
  --main-fuente: black;
  --main-pie: #ff9100;
  --main-fuentebtc: #efc775;
  --colorPrincipal: #3c498f;
}

/* edicion CSS del HTML */

h1,
h2,
h3,
h4 {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  font-style: normal;
}

a {
  font-family: "Indie Flower", sans-serif;
  font-weight: normal;
  font-style: normal;
}

b {
  color: #ffffff;
  font-size: 1.2em;
}

/* principal*/

body {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--colorPrincipal);
}

header {
  margin-top: 2px;
}

h1 {
  color: var(--main-fuentebtc);
  font-size: 2.5em;
  font-weight: 900;
  -webkit-text-stroke: 1px var(--main-dark);
}

/* NavBar*/

nav {
  display: inline-flex;
  margin-top: 15px;
  position: sticky;
  z-index: 5;

}

nav {
  background-color: none;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 80%;
}




a {
  text-decoration: none;
  font-size: 2.5em;
  color: black;
  font-weight: 600;
}

/* textos */

p {
  color: var(--main-dark);
  text-align: center;
  font-size: 1.2em;
}

figcaption {
  color: var(--main-pie);
  font-size: 1.3em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.info h2 {
  font-size: 3em;
  color: var(--main-fuente2);
}

.btc h2 {
  font-size: 2em;
  color: var(--main-fuentebtc);
}

.blockchain h2 {
  font-size: 3em;
  color: var(--main-medium);
  -webkit-text-stroke: 1px var(--main-dark);
}

h3 {
  font-size: 1.6em;
  color: var(--main-borde);
  -webkit-text-stroke: 1px var(--main-dark);
}

h4 {
  font-size: 1.5em;
  stroke: blue;
  background: var(--main-fuente2);
  border-radius: 0.5rem;
  width: 10em;
}

/* imagenes*/
.figanimada {
  /*Imagen con animacion*/
  display: inline-block;
  width: 480px;
  height: auto;
  animation-delay: 5s;
  animation: zoomInDown;
  animation-duration: 6s;
}

/* logos */

/* Suscribe*/

.suscribe {
  background-color: orange;
  margin-top: 20px;
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1em;
}

/* footer */

.firma {
  padding-top: 130px;
  padding-bottom: 50px;
  font-weight: bolder;
  font-size: x-large;
  font-stretch: extra-expanded;
  color: var(--main-fuente);
}

/*Responsive*/

@media (min-width: 1281px) {
  header {
    background-size: contain;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}



@media (max-width: 1280px) {}







@media (max-width: 560px) {}