<!DOCTYPE html>
<html>

<head>
    <title>Checklist de Usuarios</title>
    <link rel="stylesheet" href="./estilos/user.css" />
</head>

<body>
    <h1>Checklist de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Mensaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se mostrarán los datos de los usuarios -->
        </tbody>
    </table>
    <script>
    // agregar el código JS para interactuar con la base de datos y mostrar los datos de los usuarios
    </script>

</body>

</html>